@import url('https://fonts.googleapis.com/css2?family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

.dark {
    background-color: rgb(34, 31, 34);
    color: antiquewhite;
    .topo {
        background-color: #391d3a;
    }
    .menu li a {
        color: white;
    }
    .active {
        background-color: #552c57;
    }
    
    
}

.light {
    background-color: aliceblue;
    color: black;
}

/* fontes */
.spectral-regular {
  font-family: "Spectral", serif;
  font-weight: 400;
  font-style: normal;
}
.spectral-semibold {
  font-family: "Spectral", serif;
  font-weight: 600;
  font-style: normal;
}
/* fontes */

.topo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 32px;
    background: #ffffff;
    height: 64px;
    border-radius: 14px;
    border: #cbaaff;
    border-style: dashed;
    box-shadow: 0 2px 8px rgba(0,0,0,0.04);
}

.logo img {
    height: 60px;
}

.menu {
    display: flex;
    gap: 32px;
    list-style: none;
    margin: 0;
    padding: 0;
    
}

.menu li a {
    text-decoration: none;
    color: #222;
    font-weight: 500;
    padding: 8px 16px;
    border-radius: 8px;
}
.active {
    background-color: #e9dbff;
    color: black
}

.menu li a:hover {
    background: #3d3d3d;
    color: #fff;
}

.tema {
    margin-left: 24px;
    position: relative;
    display: inline-block;
    width: 40px;
}

article {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
}

#titulo-grande {
    font-size: 500%;
    line-height: 1.4; /* ou 0.9, 0.8 - teste o que fica melhor */
    margin-bottom: 0;
}

article h2 {
    text-decoration: underline;
    text-decoration-color: #cbaaff;
    text-decoration-thickness: 3px;
}

.janelas-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 40px;
    padding-top: 60px;
    width: 880px;
    padding-bottom: 60px;
}
.janela {
    border: 3px dashed #cbaaff;
    border-radius: 14px;
    transition: all 0.3s ease;
    min-width: 300px;
    height: 400px;
    background-color: white;
    padding: 20px;
    flex: 1;
    
}

.janela p {
    font-size: large;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.janelas-container .janela:hover {
    transform: scale(1.04);
    flex: 1.2;
}