@import url('https://fonts.googleapis.com/css2?family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
.dark {
    background-color: rgb(34, 31, 34);
    color: antiquewhite;
    .topo {
        background-color: #391d3a;
    }
    .menu li a {
        color: white;
    }
    .active {
        background-color: #552c57;
    }
    .janela {
        background-color: #391d3a;
    }
    .botaolink {
        background-color: #552c57;
    }   
}

.light {
    background-color: aliceblue;
    color: black;
}

/* fontes */
.spectral-regular {
  font-family: "Spectral", serif;
  font-weight: 400;
  font-style: normal;
}
.spectral-semibold {
  font-family: "Spectral", serif;
  font-weight: 600;
  font-style: normal;
}
/* fontes */

.topo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 32px;
    background: #ffffff;
    height: 64px;
    border-radius: 14px;
    border: #cbaaff;
    border-style: dashed;
    box-shadow: 0 2px 8px rgba(0,0,0,0.04);
    transition: all 0.3s ease;
}

.logo img {
    height: 60px;
}

.menu {
    display: flex;
    gap: 32px;
    list-style: none;
    margin: 0;
    padding: 0;
    
}

.menu li a {
    text-decoration: none;
    color: #222;
    font-weight: 500;
    padding: 8px 16px;
    border-radius: 8px;
}
.active {
    background-color: #e9dbff;
    color: black
}

.menu li a:hover {
    background: #3d3d3d;
    color: #fff;
}

.tema {
    margin-left: 24px;
    position: relative;
    display: inline-block;
    width: 40px;
}

article {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
}

#titulo-grande {
    padding-top: 70px;
    font-size: 500%;
    line-height: 1.4;
    margin-bottom: 0;
}

article h2 {
    text-decoration: underline;
    text-decoration-color: #cbaaff;
    text-decoration-thickness: 3px;
}

.janelas-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 40px;
    padding-top: 60px;
    width: 880px;
    padding-bottom: 60px;
}
.janela {
    border: 3px dashed #cbaaff;
    border-radius: 14px;
    transition: all 0.3s ease;
    min-width: 300px;
    height: 400px;
    background-color: white;
    padding: 20px;
    flex: 1;
    
}

.janela p {
    font-size: large;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.janela img {
    width: 200px;
    border-radius: 50%;
}
.janelas-container .janela:hover {
    transform: scale(1.04);
    flex: 1.2;
    .link {
        opacity: 100%;
    }
}

.txteimg {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-shrink: 1;
    gap: 50px;
    padding: 60px;
}

.texto-left {
    flex: 0.6;
    padding: 20px;
    padding-top: 0px;
    padding-right: 100px;
    font-size: 105%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.direita {
    flex: 0.4;
}

.imagens-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;
}

.imagem {
    flex: 1;
    min-width: calc(50% - 10px);
    position: relative;
    transition: all 0.3s ease;
}

.imagem img {
    border-radius: 14px;
    transition: inherit;
    width: 100%;
    object-fit: cover;
}


.imagens-container .imagem:hover {
    transform: scale(1.02);
    
}

.link {
    align-self: flex-end;
    opacity: 0%;
}

.logo-nick {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    width: calc(width - 20px);
    height: 200px;
    background-color: rgb(79, 54, 85);
    border-radius: 14px;
}
.logo-nick img {
    padding: 10px;
    border-radius: 50%;
    width: 150px;
}
.logo-nick p {
    color: antiquewhite;
    font-family: "Inter", sans-serif;
    font-size: 135%;
    padding-right: 10px;
}
form {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    gap: 5px;
}

.meus-links {
    display: flex;
    flex: 0.6;
    min-width: 600px;
    flex-direction: column;
    p {
        font-family: "Inter", sans-serif;
    }
    
}
.botaolink {
    text-decoration: none;
    flex-direction: row;
    display: flex;
    height: 60px;
    width: 250px;
    border-radius: 14px;
    border: 4px dashed;
    justify-content: space-evenly;
    align-items: center;
    background-color: #f0e7ff;
}