.dark {
    background-color: rgb(31, 34, 34);
    color: white;
    .topo {
        background-color: #391d3a;
    }
    .menu li a {
        color: white;
        .active {
            color: black;
        }
    }
    
}

.light {
    background-color: aliceblue;
    color: black;
}

.topo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 32px;
    background: #ffffff;
    height: 64px;
    border-radius: 14px;
    border: #cbaaff;
    border-style: dashed;
    box-shadow: 0 2px 8px rgba(0,0,0,0.04);
}

.logo img {
    height: 60px;
}

.menu {
    display: flex;
    gap: 32px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu li a {
    text-decoration: none;
    color: #222;
    font-weight: 500;
    padding: 8px 16px;
    border-radius: 8px;
}
.active {
    background-color: #e9dbff;
}

.menu li a:hover {
    background: #3d3d3d;
    color: #fff;
    transform: scale(1.2);
}

.tema {
    margin-left: 24px;
    position: relative;
    display: inline-block;
    width: 40px;
}
